.date-range {
    background-color: yellow;
}
.title {
    display: block;
    margin-top: 30px;
    background-color: cyan;
}
.tech--fe {
    padding: 2px;
    margin: 0 2px;
    background: #ffb366;
    border: 1px solid #ff8000;
    font-style: italic;
}
.tech--be {
    padding: 2px;
    margin: 0 2px;
    background: #1ab2ff;
    border: 1px solid #0088cc;
    font-style: italic;
    color: white;
}
