.ct-label {
    font-size: 14px;
    fill: #fff;
}
.ct-series-a .ct-slice-donut {
    stroke: #f05b4f;
}
.ct-series-b .ct-slice-donut {
    stroke: #a4bee8;
}
body {
    padding: 10px;
    font-family: Arial, sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.info-block {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: ivory;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.chart-block {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: ivory;
    margin-bottom: 20px;
}
.chart {
    height: 300px;
}
.info-block > span,
.chart-block > span {
    width: 100%;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    text-align: center;

    font-size: 24px;
}
#clientServer .body {
    height: 300px;
    overflow: hidden;
}
#clientServer .chart {
    height: 200%;
}
.col-2 {
    width: 100%;
    overflow: hidden;
}
.col-2 > div {
    box-sizing: border-box;
}
.col-2 > div:first-child {
    float: left;
    width: 49%;
}
.col-2 > div:first-child + div {
    float: right;
    width: 49%;
}
.experience {
    background-color: #ff7a7a;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50px;
    font-size: 80px;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-style: italic;
    position: absolute;
    top: 70px;
    left: 20px;
}
.info-block table {
    margin-left: 150px;
}
.info-block table tr td {
    vertical-align: top;
}
.info-block table tr td:first-child {
    width: 100px;
    font-weight: bold;
}
.info-block table tr td:not(:first-child) {
    opacity: 0.7;
}